<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 text-center">
            <h3>List Of Customer Feedback</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Search" (keyup)="applyFilter($event)">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

               
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="rating">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
                    <td mat-cell *matCellDef="let element"> {{element.sum}} </td>
                </ng-container>

                <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef> Comments </th>
                    <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
                </ng-container>

                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef> View Comments </th>
                    <td mat-cell *matCellDef="let element" > <a (click)="ope_comment()">View</a></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="head_selected(row)"></tr>

            </table>
            
    

        <mat-paginator [pageSize]="7" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" aria-label="Select page">
        </mat-paginator>
        </div>
    </div>
</div>