.container-fluid{
    height: 80dvh;
    overflow: auto;
    background-color: rgb(58, 56, 56);
    padding: 20px;
    color: #ffff;
}

::ng-deep .mat-dialog-container {
    padding: 0px !important;
}
table{
    width: 100%;
}

::ng-deep .mat-table {
    background-color: transparent;
    border: 2px solid rgb(187, 174, 174);
    
}

::ng-deep .mat-header-cell {
    color: #ffff;
}


::ng-deep .mat-table th.mat-header-cell{
    border: 2px solid rgb(187, 177, 177) !important;
}


::ng-deep tr.mat-row{
    border: 2px solid rgb(214, 201, 201) !important;
}

::ng-deep .mat-cell{
    color: #ffff;
}

::ng-deep .mat-paginator {
    background-color: transparent;
    color: #fff;
}

tbody td{
    border-color: #ffff;
}

tbody, td, tfoot, th, thead, tr {
    border-width: 2px !important;
    border-color: #ffff;
}

input{
    height: 32px;
    border-radius: 2px;
    width: 40%;
    background-color: transparent;
    color: #ffff;
}

input:focus,
input:active {
    outline: none !important;
    box-shadow: none !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(218, 201, 201);
    opacity: 1; /* Firefox */
  }

  a{
    color: blue;
    text-align: center;
  }