<header>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>&nbsp;&nbsp;
        <span>SURVEY MODEL</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu"> <i style="font-size: 40px; color: #ffffff;"
                class="fas fas fa-user-circle"></i></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/">Logout</button>

        </mat-menu>
    </mat-toolbar>
</header>

<div class="content">
    <button (click)="open_view()">View feedbacks</button>
</div>