header{
    height: 10dvh;
    background-color: rgb(1, 1, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-spacer {
    flex: 1 1 auto;
  }

  header span{
    color: #ffff;
    font-weight: 600;
  }

  .content{
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content button {
    background-color: rgb(102, 102, 245);
    color: #ffff;
    border: none;
    border-radius: 2px;
    padding: 10px 50px;
    letter-spacing: 4px;
  }