<header>
    <div class="container">
        <div class="header mt-3">
            <h3>SURVEY MODEL</h3>
            <span>ADD YOUR SURVEY HERE</span>
        </div>
    </div>
</header>

<main>
    <div class="containers" >
        <div class="row" >
            <div class="col-md-6">
                <div class="first" style="height: 58dvh;">
                    <img src="../../assets/bwink_bld_03_single_03.jpg" width="100%" height="100%" alt="Login">
                </div>
            </div>

            <div class="col-md-6">
                <div class="login_content mt-5">
                    <div class="formdata mt-5">
                        <form id="frm">
                            <h4 class="text-center">LOGIN</h4><br>

                            <div class="form-group">
                                <span>User Name*</span>
                                <input type="text" class="form-control rounded-left" placeholder="Enter Your Username"
                                    id="txt_user_name" name='user_name' [(ngModel)]="user_name" required autocomplete="off">
                            </div>
                            <div class="form-group mt-2">
                                <span>Password*</span>
                                <div class="show_pswd">
                                    <input type="password" class="form-control rounded-left" placeholder="Enter Your Password"
                                    id="password" name="password" [(ngModel)]="password" required autocomplete="off" [type]="hide ? 'password' : 'text'" >
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </div>

                            </div><br>
                            <div class="login-form-btn-container">
                                <button class="login-form-btn" (click)="login()" routerLink="/main">Login</button>
                            </div>

                            <!-- <div class="text-center mt-4">
                                <span class="txt1">Forgot</span>
                                <a href="#" class="txt2"> Username / Password ?</a>
                            </div> -->


                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

</main>