header {
    height: 10dvh;
    background-color: #011324;
    border-bottom: 10px solid #1d7ad0;
}

header {
    height: 10dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    //align-items: center;
}

.header h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0px !important;
    color: #ffff !important;
    font-style: italic;
    font-weight: 550 !important;
    font-size: 1.9rem;

}

.header span {
    font-size: 8px !important;
    position: relative;
    bottom: 10px;
    letter-spacing: 6px;
    color: #f7d8d8;
}

main {
    height: 90dvh;
    width: 100%;
    //background-image: url('../../assets/bwink_bld_03_single_03.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 110%;
}

.content {
    height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.containers {
    width: 50%;
    border-radius: 12px;
    border: 1px solid beige;
    background-color: #ffff;
    -webkit-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.75);
}


img {
    position: relative;
    border-radius: 13px;
    padding: 5px;
    zoom: 1.1;
}

#frm h4 {
    font-weight: 670;
    font-size: 1.2rem;
}

.first {
    width: 100%;
    height: 100%;
}

.firs image {
    border-radius: 10px;
}


.login-form-btn-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
}

.login-form-btn {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    background: #1d7ad0;
    width: 100%;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 25px;
    transition: all 0.4s;
    border: none;

}

.login-form-btn:hover {
    background: rgb(135, 85, 216);
}


.form-control {
    height: 34px;
    font-size: 12px;
    border-radius: 3px;

    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none;
    }
}

a {
    text-decoration: none;
    font-size: 14px;
}



.formdata {
    z-index: 999;
    padding: 30px 15px;
    padding-left: 36px;
    padding-right: 36px;
    font-family: 'Times New Roman', Times, serif !important;

}

.form-group span {
    font-size: 12px !important;
    letter-spacing: 0px !important;
    color: #000000;

}

.show_pswd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.show_pswd .mat-icon {
    position: absolute;
    margin-right: 10px;
}

@media screen and (max-width: 780px) {

    .first {
        height: auto !important;
    }
}