



<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="down_icon">
                <i class="fa-solid fa-circle-arrow-down" (click)="goToBottom()"></i>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mt-4">Customer Satisfaction Survey</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="head_sub text-center">
                <span>Lorem ipsum dolor sit amet consectetur. Commodi placeat delectus veritatis, ipsam optio
                    asperiores, et alias illum pariatur voluptatibus, possimus ever since the 1500s</span>
            </div>
        </div>
    </div>


    <form action="" [formGroup]="surveyForm" (ngSubmit)="submit()">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="input_name">
                    <div class="row">
                        <div class="col-md-2 mt-1">
                            <span>Customer Name &nbsp;:</span>
                        </div>

                        <div class="col-md-10">
                            <input type="text" class="form-control" formControlName="name">
                            <!-- <span *ngIf="surveyForm.name.invalid" class="alert">Enter your name
                            </span> -->
                            <span
                                *ngIf="myForm_vali.name.invalid && (myForm_vali.name.touched || myForm_vali.name.dirty)"
                                class="alert">Enter your name
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row mt-2">
            <div class="col-md-12">
                <div class="content_head">
                    <div class="row">
                        <div class="col-md-8 conten_expre">
                            <div>
                                <div class="row text-center" style="width: 100%;">
                                    <div class="col-md-2">
                                        <h3>😶</h3> <span>Not Applicable</span>
                                    </div>
                                    <div class="col-md-2">
                                        <h3>😟</h3> <span>Strongly Disagree</span>
                                    </div>
                                    <div class="col-md-2">
                                        <h3>🙁</h3> <span>Disagree</span>
                                    </div>
                                    <div class="col-md-2">
                                        <h3>😐</h3> <span>Neither agree nor disagree</span>
                                    </div>
                                    <div class="col-md-2">
                                        <h3>🙂</h3> <span>Agree</span>
                                    </div>
                                    <div class="col-md-2">
                                        <h3>😊</h3> <span>Strongly agree</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 conten_expre">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span>To which extent do you agree/disagree with the following statements</span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row main_val">
            <div class="col-md-12 ">
                <div class="main_content mt-0">
                    <div class="row">
                        <div class="col-md-8 ">
                            <mat-radio-group formControlName="valone">
                                <div class="row text-center" style="width: 100%;">
                                    <!-- <span *ngIf="myForm_valone.invalid" class="alert">Required*
                                    </span> -->


                                    <span
                                        *ngIf="myForm_vali.valone.invalid && (myForm_vali.valone.touched || myForm_vali.valone.dirty)"
                                        class="alert">Please rate the feedback
                                    </span>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="1" name="val_cnt"
                                            id="val1"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="2" name="val_cnt"
                                            id="val2"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="3" name="val_cnt"
                                            id="val3"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="4" name="val_cnt"
                                            id="val4"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="5" name="val_cnt"
                                            id="val5"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="6" name="val_cnt"
                                            id="val6"></mat-radio-button></div>

                                </div>


                            </mat-radio-group>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span>I'm satisfied with the content available in the platform</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row main_val">
            <div class="col-md-12">
                <div class="main_content">
                    <div class="row">
                        <div class="col-md-8 ">
                            <mat-radio-group formControlName="valtwo">
                                <div class="row text-center" style="width: 100%;">
                                    <span
                                        *ngIf="myForm_vali.valtwo.invalid && (myForm_vali.valtwo.touched || myForm_vali.valtwo.dirty)"
                                        class="alert">Please rate the feedback
                                    </span>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="1" name="val_fea"
                                            id="val21"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="2" name="val_fea"
                                            id="val22"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="3" name="val_fea"
                                            id="val23"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="4" name="val_fea"
                                            id="val24"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="5" name="val_fea"
                                            id="val25"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="6" name="val_fea"
                                            id="val26"></mat-radio-button></div>
                                </div>
                            </mat-radio-group>

                        </div>

                        <div class="col-md-4 ">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span>I'm satisfied with the feature of the platform</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row main_val">
            <div class="col-md-12">
                <div class="main_content">
                    <div class="row">
                        <div class="col-md-8">
                            <mat-radio-group formControlName="valthree">
                                <div class="row text-center" style="width: 100%;">
                                    <span
                                        *ngIf="myForm_vali.valthree.invalid && (myForm_vali.valthree.touched || myForm_vali.valthree.dirty)"
                                        class="alert">Please rate the feedback
                                    </span>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="1" name="val_qual"
                                            id="val31"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="2" name="val_qual"
                                            id="val32"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="3" name="val_qual"
                                            id="val33"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="4" name="val_qual"
                                            id="val34"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="5" name="val_qual"
                                            id="val35"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="6" name="val_qual"
                                            id="val36"></mat-radio-button></div>
                                </div>
                            </mat-radio-group>

                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span>I'm satisfied with the quality of the data and analysis in the platform</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row main_val">
            <div class="col-md-12">
                <div class="main_content">
                    <div class="row">
                        <div class="col-md-8">
                            <mat-radio-group formControlName="valfour">
                                <div class="row text-center" style="width: 100%;">
                                    <span
                                        *ngIf="myForm_vali.valfour.invalid && (myForm_vali.valfour.touched || myForm_vali.valfour.dirty)"
                                        class="alert">Please rate the feedback
                                    </span>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="1" name="val_visual"
                                            id="val41"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="2" name="val_visual"
                                            id="val42"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="3" name="val_visual"
                                            id="val43"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="4" name="val_visual"
                                            id="val44"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="5" name="val_visual"
                                            id="val45"></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="6" name="val_visual"
                                            id="val46"></mat-radio-button></div>
                                </div>
                            </mat-radio-group>

                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span>I'm satisfied with the data visualization in the platform</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row main_val">
            <div class="col-md-12">
                <div class="main_content">
                    <div class="row">
                        <div class="col-md-8">
                            <mat-radio-group formControlName="valfive">
                                <div class="row text-center" style="width: 100%;">
                                    <span
                                        *ngIf="myForm_vali.valfive.invalid && (myForm_vali.valfive.touched || myForm_vali.valfive.dirty)"
                                        class="alert">Please rate the feedback
                                    </span>

                                    <div class="col-md-2"><mat-radio-button color="primary" value="1" name="val_respo"
                                            id="val51" ngDefaultControl></mat-radio-button></div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="2" name="val_respo"
                                            id="val52" ngDefaultControl></mat-radio-button>
                                    </div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="3" name="val_respo"
                                            id="val53" ngDefaultControl></mat-radio-button>
                                    </div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="4" name="val_respo"
                                            id="val54" ngDefaultControl></mat-radio-button>
                                    </div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="5" name="val_respo"
                                            id="val55" ngDefaultControl></mat-radio-button>
                                    </div>
                                    <div class="col-md-2"><mat-radio-button color="primary" value="6" name="val_respo"
                                            id="val56" ngDefaultControl></mat-radio-button>
                                    </div>

                                </div>
                            </mat-radio-group>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span>I'm satisfied with the platform response speed</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <span>Overall, how satisfied are you with Insights and Foresights Platform?</span>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
                    <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}">
                        <i class="fa fa-star" ></i>
                    </li>
                </ul>
                <!-- <span *ngIf="myForm_vali.star.invalid && (myForm_vali.star.touched || myForm_vali.star.dirty)"
                class="alert">Please rate the feedback
            </span>  -->
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <textarea name="" id="" cols="110" rows="6" formControlName="comment"
                    placeholder="Feedback or comments (Optional)"></textarea><br>
                <span *ngIf="myForm_vali.comment.invalid && (myForm_vali.comment.touched || myForm_vali.comment.dirty)"
                    class="alert">Please rate the feedback
                </span> 
            </div>
        </div>

        <div class="row mt-4" id="target">
            <div class="col-md-12 text-center">
                <div class="sbmt_btn">
                    <button type="submit" (click)="Preview_onClick(surveyForm)">SUBMIT</button>
                </div>
            </div>
        </div>
    </form>


</div>