.container-fluid {
    height: 90dvh;
    overflow: auto;
    background-color: rgb(58, 56, 56);
    padding: 20px;
    color: #ffff;

}

::ng-deep .mat-dialog-container {
    padding: 0px !important;
}

input {
    height: 32px;
    border-radius: 2px;
    width: 40%;
    background-color: transparent;
}

input:focus,
input:active {
    outline: none !important;
    box-shadow: none !important;
}


.input_name span {
    font-weight: 560;
}

.content_head {
    padding: 10px 20px;
    border: 1px solid rgb(94, 93, 93);
    border-radius: 5px;
}

.conten_expre h3 {
    font-size: 1.5rem;
}

.conten_expre span {
    font-size: 12px;
}

.main_val {
    height: 12dvh;
    margin-left: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.sbmt_btn button {
    background-color: rgb(102, 102, 245);
    color: #ffff;
    border: none;
    border-radius: 2px;
    padding: 10px 50px;
    letter-spacing: 4px;
}

textarea {
    background-color: rgb(215 215 215);
    padding: 20px;
}

.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;

}

.rating-list li:hover,
.rating-list li:hover~li,
.rating-list li.selected {
    color: #ffd700;
}

.rating-list {
    display: inline-block;
    list-style: none;
}

.fa-star {
    font-size: 2rem;
}

.down_icon i {
    font-size: 2rem;
    position: absolute;
    right: 250px;
    bottom: 80px;
}

::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }
  

@media screen and (max-width:'667px') {
    .main_val {
        height: 30dvh;
    }

    ::ng-deep .mat-dialog-container {
        margin-top: 120px;
        margin-bottom: 120px !important;
    }
}