.container-fluid{
    height: 60dvh;
    overflow: auto;
    background-color: rgb(58, 56, 56);
    padding: 40px;
    color: #ffff;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40dvh;
}

.cls_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cls_btn button{
    background-color: rgb(102, 102, 245);
    color: #ffff;
    border: none;
    border-radius: 2px;
    padding: 10px 50px;
    letter-spacing: 1px;
    font-weight: 500;
}

span i{
    font-size: 3.5rem;
}