<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <span><i class="fa-solid fa-thumbs-up"></i></span><br>
                <h1>Thank You!</h1> 
                <h2>Your Feedback has been sent.</h2>
            </div>

            <div class="cls_btn mt-0">
                <button (click)="close_modal()">Close</button>
            </div>
        </div>
    </div>
</div>