/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

html, body { height: 100%; }



.mat-toolbar {
    background-color: transparent !important;
}

//scrollbar width
/* width */
::-webkit-scrollbar {
    width: 5px;
    background: #7b9bdc;


}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bec4c4;
}
