.container-fluid{
    height: 50dvh;
    overflow: auto;
    background-color: rgb(58, 56, 56);
    padding: 20px;
    color: #ffff;
}

::ng-deep .mat-dialog-container {
    padding: 0px !important;
}

.comment{
    height: 30dvh;
}

.cmnt{
    font-size: 1rem;
    font-weight: 500;
}

.cls_btn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.cls_btn button{
    background-color: rgb(102, 102, 245);
    color: #ffff;
    border: none;
    border-radius: 2px;
    padding: 10px 50px;
    letter-spacing: 1px;
    font-weight: 500;
}

span{
    color: #ffff;
}