<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2><b>Comment</b></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="comment">
                <span class="cmnt">{{ comment }}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="cls_btn">
                <button [mat-dialog-close]="true">Close</button>
            </div>
        </div>
    </div>
</div>